.header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0;
    overflow: hidden;
  }
  
  .flashing-text {
    animation: flash 1s infinite alternate;
  }
  
  @keyframes flash {
    0% { color: black; }
    50% { color: #d82e76; }
    100% { color: black; }
  }
  
  .sliding-text {
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    animation: slide 10s linear infinite;
  }
  
  @keyframes slide {
    0% { left: 100%; }
    100% { left: -100%; }
  }
  
  .sliding-text::before {
    content: 'Unbeatable Savings on Everything';
    display: inline-block;
    padding-right: 100%; /* Space between repetitions */
    animation: slide 10s linear infinite;
  }
  

body, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  body {
    background-color: #000000;
    padding: 20px;
  }
  
  .accordion {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .accordion-header {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    padding: 15px;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .accordion-header:hover {
    background-color: #d82e76;
    color: #ffffff;
  }
  
  .accordion-content {
    border-top: 1px solid #ccc;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    padding: 0 10px; /* Remove vertical padding initially */
  }
  
  /* Adjust vertical padding when accordion is open */
  .accordion-content.active {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #d82e76;
    color: white;
  }
  /* footer */
  .footer {
    background-color: #000; /* Black background */
    color: #fff; /* White text */
    text-align: center;
    padding: 20px 0;
    font-family: 'Arial', sans-serif;
  }
  
  .footer .shop-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #d82e76;
  }
  
  .footer .contact-info p, .footer .social-links a {
    font-size: 16px;
    margin: 5px 0;
    /* color: #d82e76; */
  }
  .footer .contact-info p a{
    color:#d82e76;
    text-decoration: none;
  } 
  .footer .contact-info a{
    color:#ffffff;
    text-decoration: none;
  } 
  
  .footer .social-links a {
    color: #fff; /* White text for links */
    text-decoration: none;
    padding: 0 10px;
  }
  
  .footer .social-links a:hover {
    text-decoration: underline;
  }
  .contact-img{
    /* flex: content; */
    height: 20px;
    width: 20px;
    justify-content: center;
    justify-content: space-between;
  }
  .socials{
    height: 30px;
  }
  