.header {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px 0;
  }
  
  .flashing-text {
    animation: flash 1s infinite alternate;
  }
  
  @keyframes flash {
    0% { color: black; }
    50% { color: #d82e76; }
    100% { color: black; }
  }
  
  .sliding-text {
    white-space: nowrap;
    overflow: hidden;
    position: relative;
    animation: slide 10s linear infinite;
  }
  
  @keyframes slide {
    0% { left: 100%; }
    100% { left: -100%; }
  }
  
  .sliding-text::after {
    content: 'Unbeatable Savings on Everything.';
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
  }
  

body, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  body {
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .accordion {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .accordion-header {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    padding: 15px;
    transition: background-color 0.3s ease;
    text-align: center;
  }
  
  .accordion-header:hover {
    background-color: #f8f8f8;
  }
  
  .accordion-content {
    border-top: 1px solid #ccc;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.3s ease-in-out;
    padding: 0 10px; /* Remove vertical padding initially */
  }
  
  /* Adjust vertical padding when accordion is open */
  .accordion-content.active {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  th {
    background-color: #d82e76;
    color: white;
  }
  